.card {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.error {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
